
body{
  margin: 0;
  background-color: #0A0D2F
}

.intro{
  background-color: #0A0D2F;
}

.flowers-1{
  position: fixed;
  z-index: 1;
  left: 500px;
}

.flowers-2{
  position: fixed;
  z-index: 1;
  top: 200px;
  right: 500px;
}

 .intro p{
  color: #FBC2B5;
  margin: auto;
  font-size: 50px;
  max-width: 500px;
  text-align: center;
  padding: 100px 0px;
  line-height: 120%;
  font-family: 'Yatra One', cursive;
}

.baby-pic{
 display: block;
 margin-left: auto;
 margin-right: auto;
 background-color: #0A0D2F;
 border-radius: 20px;
 margin-bottom: 50px;
}

.flower-row{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
